:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e6e6e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  --distint-color: #5dccc6;  
  --distint-color-off: #b4e3e3;
  --title-color: #007571d4;
  --line-color: #959595d4;
  --font-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;  
  color: var(--font-color);
  font-size: 1.1em;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, rgb(237, 245, 248), rgb(223, 223, 223));
  font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#layout-content {  
  margin: 30px;  
}

h1 {
  font-size: 3.2em;
}

.distint-color {
  color: var(--distint-color);
}


.title-color {
  color: var(--title-color);
}

a {
  text-decoration: none;
}

