.card{
    border: 2px solid #999;
    border-radius: 20px;
    margin: 20px;
    filter: grayscale();
}

.card:hover{
    transition: 300ms ease-in-out;
    scale: 1.05;
    filter: None;
    box-shadow: 0 0 20px 0 rgba(32, 104, 160, 0.6);
    cursor: pointer;
}

.card.img {
    padding-top: 20px;
}