.card{
    border: 2px solid #999;
    border-radius: 20px;
    margin: 20px;    
    background-image: linear-gradient(to bottom right,rgba(0, 173, 165, 0.2), rgba(31, 98, 141, 0.4)) ;
}

.card img{
    filter: grayscale();
    margin-top: 15px;
    border-radius: 15px;
}

.card:hover{
    transition: 300ms ease-in-out;
    scale: 1.05;
    filter: None;
    box-shadow: 0 0 20px 0 rgba(32, 104, 160, 0.6);
    cursor: pointer;
    & img{
        filter: None;
    }
}

