.footer-container {    
    padding: 3em 5em 0.5em 5em;
    background-color: rgb(30, 30, 30); 
    color: rgb(211, 211, 211);
    margin-top: auto;
    width: 100%;    
}

.footer-container hr{
    margin: 50px 0 10px 0;
    border-color: var(--secondary-color);
}

.aa-brand {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    text-decoration: none; /* Evita subrayado */
    color: inherit; /* Mantiene el color del texto del contenedor padre */
}

/* Espaciado de la imagen */
.aa-brand img {
    border-radius: 20%;
    margin-left: 10px; /* Separación entre el texto y la imagen */
    height: 24px; /* Ajusta el tamaño de la imagen si es necesario */
    width: auto;
}


#logoinsta{
    width: 36px;
    height: auto;
    margin-left: 10px;
    
}