.header{
    padding: 40px;    
    user-select: none;
    background-color: rgba(20, 74, 112, 1);
}

.name-img {
    width: 400px; 
    height: auto; 
        
}

.logo-img{
    width: 150px; 
    height: auto;    
    margin-right: 20px;
}